<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Esse é meu ...</h1>
    <h2> <STRONg> Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, quidem ea. In, quidem deleniti temporibus harum esse aut. Voluptates tempore natus ut ipsam quos sunt id optio neque sit repellendus?</STRONg></h2>
    <title> AAAAAAAA </title>
    <br>
    <ul>
        <li>Miojo</li>
        <li>batata frita</li>
        <li>Kiwi</li>
    </ul>

    <ol>
        <li>feijoada</li>
        <li>batata frita</li>
        <li>lasanha</li>
    </ol>
</body>
</html>
    